<h1>Angular ITVDN</h1>
<nav>
  <a routerLink="/notebook" routerLinkActive="active">card1</a>
  <a routerLink="/phone" routerLinkActive="active">card2</a>
  <a routerLink="/tv" routerLinkActive="active">card3</a>
  <hr> 
  <a routerLink="/ul-list" routerLinkActive="active">list1</a>
  <a routerLink="/ol-list" routerLinkActive="active">list2</a>
  <a routerLink="/dl-list" routerLinkActive="active">list3</a>
  <hr>
  <a routerLink="/education" routerLinkActive="active">post1</a>
  <a routerLink="/programing" routerLinkActive="active">post2</a>
  <a routerLink="/trips" routerLinkActive="active">post3</a>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>