/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial, sans-serif;
}

h1{
    font-size: 55px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 30px;
}