<h1>Data binding / Связывание данных </h1>
<br>
<!--
    [свойство]="выражение"
    В большинстве случаев интерполяция и привязка свойств дает одинаковый результат.
    Интерполяцию и привязку свойств можно использовать только в том случае, когда целевое свойство является свойством DOM объекта
-->
<div class="img-examples">
    <div class="angular">
        <img src="{{ITVDNImage}}" width="{{ITVDNImageWidth}}" alt="itvdn">
        <hr>
        {{ITVDNImageWidth}}
    </div>
    <div class="js">
        <img [src]="CBSImage" [width]="CBSImageWidth" alt="cbs">
        <hr>
        {{CBSImageWidth}}
    </div>
</div>
<hr>
<div class="inputs">
    <input type="radio" name="btns">
    <!-- checked='flag' -->
    <input type="radio" checked='flag' name="btns">
    <!-- <input type="radio" [checked]='flag' name="btns"> -->
</div>
<!--
    Для некоторых случаев установка атрибута через интерполяцию не подойдет.
    Например, наличие атрибута checked в элементе checkbox расценивается браузером как значение true для свойства checed данного элемента.
    Отсутствие атрибута checked - расценивается как значение false. Не зависимо от того, какое значение будет результатом выражения при использовании
    интерполяции, checkbox всегда будет отмечен. Но если мы будем использовать привязку свойств, то будем устанавливать непосредственно значение свойства
    checkbox.
-->
<div style="height: 300px;"></div>