<div class="container">
  <h1>Angular Routing</h1>
  <div class="flex">
    <nav>
      <ul class="menu">
        <!-- <li>
          <a 
          routerLink="/" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Главная</a>
        </li> -->
        <li><a routerLink="main" routerLinkActive="active">Главная</a></li>
        <li>
          <a routerLink="about" routerLinkActive="active">О Нас</a>
        </li>
        <li>
          <a [routerLink]="['contacts']" routerLinkActive="active">Контакты</a>
        </li>
      </ul>
    </nav>
    <main>
      <h2>Контент пунктов меню</h2>
      <!-- Специальный тег под которым выводятся компоненты отталкиваясь от 
        настроек указанных в  файлах как app-routing.module.ts -->
      <router-outlet></router-outlet>
    </main>
  </div>
</div>