<h2>
    Observable valueChanges
</h2>

<form novalidate [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h3>Создайте почту</h3>
    <input type="text" formControlName="nameEmail">
    <p>
        Ваш имеил будет называться <br><b>{{ registrationForm.get('createdEmail').value }}</b> <br>
    </p>
    <pre>{{registrationForm.value |json}}</pre>

    <input type="submit" value="Создать">
</form>
<hr>
<form novalidate [formGroup]="createEmailForm" (ngSubmit)="onSubmit()">
    <h3>Подключиться к онлайн курсам</h3>
    <p class="alert" *ngIf="formErrors.existingLogin">{{ formErrors.existingLogin }}</p>
    <input type="text" formControlName="userLogin">
    <br>
    <br>
    <p class="alert" *ngIf="formErrors.existingEmail">{{ formErrors.existingEmail }}</p>
    <input type="text" formControlName="userEmail">
    <pre>{{registeredUsers |json}}</pre>

    <input type="submit" value="Подключится">
</form>
<br>
