<div class="container">
    <h1>Angular ITVDN</h1>
    <h2>Syntax, Data Binding, Directives, Pipes</h2>
    <main>
      <nav>
        <h3>Binding</h3>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">01_interpolation</a>
        <a routerLink="property_binding" routerLinkActive="active">02_property_binding</a>
        <a routerLink="event_binding" routerLinkActive="active">03_event_binding</a>
        <a routerLink="referense" routerLinkActive="active">04_referense</a>
        <a routerLink="kbd_events" routerLinkActive="active">05_kbd_events</a>
        <a routerLink="attribute_binding" routerLinkActive="active">06_attribute_binding</a>
        <a routerLink="class_binding" routerLinkActive="active">07_class_binding</a>
        <a routerLink="style_binding" routerLinkActive="active">08_style_binding</a>
      </nav>
      <div class="examples">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
  