<h2>Validators</h2>
<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
        
    <div class="login-field">
        Логин <br>
        <input type="text" formControlName="login">
        <pre>
            {{ loginForm.controls.login.errors | json }}
            <!-- {{ loginForm.get('login').errors | json }} -->
        </pre>
    </div>
    
    <div class="pass-field">
        Пароль <br>
        <input type="password"
            formControlName="password">
            <pre>
                {{ loginForm.get('password').errors | json }}
            </pre>
    </div>
    <div class="checkbox-field">
        <label>
            <input formControlName="agree" type="checkbox">
            Изучаем программирование с ИТВДН!
        </label>
        <pre>
            {{ loginForm.get('agree').errors | json }}
        </pre>
    </div>
    
    <input type="submit" class="btn"
        [disabled]="loginForm.invalid" value="Sign In"> 

    <input type="button" (click)="showLog(loginForm)" value="Click"> 
</form>