.links{
    display: flex;
}
a{
    padding: 5px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-right: 10px;
    text-decoration: none;
    transition: all 0.5s;
    color: #E03237;
    font-size: 20px;
    display: block;
}

a:hover{
    box-shadow: 0 1px 1px #E03237, 0 0 10px #E03237;
}
