<h2>Referense / Доступ к элементам в шаблоне</h2>

<h3 #Title>Заголовок h3</h3>
<p #par>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев.</p>
<span ref-Span>Простой текст</span>
<br>
<button (click)="show(Title, par,Span)">Sum</button> <br />
Result = {{result}}

<!--
    Template Reference Variable - ссылка на DOM элемент или директиву в шаблоне.
    К переменной можно обратиться в любой части шаблона, в котором она объявлена.

    Есть два способа объявления переменной:
    префикс #, например #varname
    префикс ref-, например, ref-varname
-->