<h1>Родительский компонент</h1>
<p>
    <b>Статический параграф</b><br> 
    Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
</p>
<div [innerHTML]="content"></div>
<section class="block-container">
    <div>
        <!-- <app-child></app-child> -->
        <app-child class="second-child"></app-child>
    </div>
</section>